body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}
h1, h2, h3 {
    text-align: center;
}
.blue-title {
    color: #0056b3;
    margin-bottom: 5px;
}
.job-duration {
    font-style: italic;
    margin-bottom: 10px;
}

li {
    margin-bottom: 5px;
}
.note {
    color: #888;
    font-style: italic;
    margin-top: 10px;
}
.section {
    margin-bottom: 20px;
}
.certifications img {
    width: 100px
}

.certifications table {
    width: 60%;
    margin: auto;
    text-align: center;
}

.qual {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove padding */
    margin: 0 auto; /* Center the UL */
    margin-bottom: 25px;
    text-align: center; /* Ensure items are centered */
}

.qual li {
    margin: 0 15px; /* Add some spacing between items */
}

.socials symbol{
    fill: #ffffff;
}

#footer ul{
    padding: 0 10px;
}